<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="DefaultConnection"
             connectionString="Server=YOUR_SERVER_NAME;Database=QuanLyNhaTro;User Id=YOUR_USERNAME;Password=YOUR_PASSWORD;"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>
